#root {
  width: 100%;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


.nav-bar {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background-color: rgb(199, 162, 235);
  color: black;
  border-radius: 4px;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  margin: 10px;
}
