#root {
  width: 100%;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.product {
  margin: 10px;
  width: 33%;
}

.nav-button {
  display: flex;
  justify-content: center;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
